.ActionServicesContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
}


.ActionServicesContainer Img{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.ActionItemContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ItemContainer {
  width: 20%;
}

.ActionText {
  text-align: center;
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;

}


.Button {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
}

.Button:hover {
  background-color: rgb(56, 56, 56);
}


@media(min-width:701px) and (max-width: 800px) {
  .Button {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .ActionText {
    text-align: center;
    font-family: sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 16px;
    min-height: 36px;
  
  }
  
  .ActionServicesContainer Img{
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}

@media(max-width: 700px) {
  .ActionServicesContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .ActionItemContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .ItemContainer {
    width: 100%;
    margin-bottom: 20px;
  }
  .ActionServicesContainer Img{
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}